/* 點老師圖片後*/

/* @import "compass/css3"; */
/* @import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"); */
.body {
    
  margin: auto;
}

@media (min-width: 1000px)/* The minimum width of the display area, such as a browser window*/
{
  .modal-dialog {
      width: 1000px;
  }
}

.modal-body { 
    max-height: 500px; 
    padding: 25px; 
    overflow-y: auto; 
    -webkit-overflow-scrolling: touch; 
 }

body {
  background: url('https://images.unsplash.com/photo-1428976412003-bcce81775695?fit=crop&fm=jpg&h=700&q=80&w=1225') no-repeat center center;
  background-size: 1400px 1000px;
  background-position: 30%;
  background-attachment: fixed;
}

.box {
  width: 300px;
  height: 450px;
  margin: auto;
  background-color: transparent;
  border-style: solid;
  border-width: 0.0px;
  /* add px if you want border */
  
  border-color: #eee;
  margin-bottom: 800px;
  /* delete */
  
  margin-top: 25px;
  /* delete */
  
  background: url('') no-repeat center center;
  background-size: 300px 210px;
  background-position: left top;
}

.text {
  font-family: raleway;
  font-size: 40px;
  position: absolute center;
  display: inline-block;
  text-align: center;
  padding-left: 7.4%;
  color: #eee;
  margin-top: 43px;
}

.text1 {
  font-family: raleway;
  font-size: 29px;
  text-align: center;
  margin-top: -20px;
  color: #eee;
}

.btn-outline {
  color: inherit;
  transition: all 1.4s;
  background-color: transparent;
}
/* button CSS */

.btn-primary.btn-outline {
  margin-top: 9px;
  background-color: transparent;
  color: #eee;
  border-color: #eee;
  padding-left: 30px;
  padding-right: 30px;
  font-family: lato;
  font-weight: 300;
}
/* Modal button CSS */

.btn-danger.btn-outline {
  background-color: transparent;
  color: #000;
  border-color: #000;
  padding-left: 20px;
  padding-right: 20px;
  font-family: lato;
  font-weight: 300;
}

.bio {
  font-family: raleway;
  font-size: 20px;
  margin-right: 5%;
}

.image {
  text-align: center;
  width: 250px;
  /* Container's dimensions */
  
  height: 250px;
  border-radius: 75%;
  -moz-border-radius: 75%;
  box-shadow: 0 0 0 1px #eee;
  background: url("") center center no-repeat;
  background-size: cover;
  margin: 8%;
  margin-top: 20px;
  margin-bottom: -30px;
  align-content: center;
}

.trick {
  display: inline-block;
  vertical-align: middle;
  height: 150px;
}

.image:hover {
  box-shadow: 0px 0px 38px .9px #ccc;
}

.image:hover {
  -webkit-transform: scale(1.10);
  transform: scale(1.10);
  -webkit-transition: 1.6s ease-in-out;
  transition: 1.6s ease-in-out;
}
.image {
  -webkit-transform: scale(1.0);
  transform: scale(1.0);
  -webkit-transition: 1.6s ease-out;
  transition: 1.6s ease-out;
}


.trick:hover img {
  -webkit-transform: scale(1);
  transform: scale(1);
}

#overlay {
  border-radius: 50%;
  -moz-border-radius: 50%;
  padding: 0 0 0 0;
  opacity: 1.0;
  transition: opacity 2.25s ease;
  -moz-transition: opacity 10.25s ease;
}

#box:hover #overlay {
  opacity: 1;
}









/*---------    Social Icons    ------------*/

.footer-social-links {
  font-size: 14px;
  text-align: center;
  margin-top: 3%;
}

.footer-social-links a {
  width: 25px;
  height: 25px;
  line-height: 25px !important;
  position: relative;
  margin: 0 5px;
  text-align: center;
  display: inline-block;
  color: #111;
  -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}

.footer-social-links a i,
.footer-social-links a span {
  position: relative;
  top: 2px;
  left: 1px;
}

.footer-social-links a:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #111;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}

.footer-social-links a:hover {
  color: #fff;
}

.footer-social-links a:hover:before {
  background: #111;
}
/*---------    Contact Form    ------------*/

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #000;
  font-size: 15px;
}
/* on hover placeholder */

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
  color: #fff;
  font-size: 15px;
  font-family: raleway;
}

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
  color: #fff;
  font-family: raleway;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
  color: #fff;
  font-size: 15px;
  font-family: raleway;
}

input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
  color: #fff;
  font-family: raleway;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #fff;
  font-size: 15px;
  font-family: raleway;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
  color: #fff;
  font-family: raleway;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #fff;
  font-size: 15px;
  font-family: raleway;
}

input:hover:focus::-ms-placeholder,
textarea:hover::focus:-ms-placeholder {
  color: #fff;
  font-family: raleway;
}

#form {
  position: relative;
  width: 100%;
  margin: 0px auto 0px auto;
  font-family: raleway;
}

input {
  font-family: raleway;
  font-size: 15px;
  width: 100%;
  height: 50px;
  padding: 0px 12px 0px 12px;
  background: transparent;
  outline: none;
  color: #726659;
  border: solid 1px #eee;
  border-bottom: none;
  transition: all 0.9s ease-in-out;
  -webkit-transition: all 0.9s ease-in-out;
  -moz-transition: all 0.9s ease-in-out;
  -ms-transition: all 0.9s ease-in-out;
}

input:hover {
  background: #ccc;
  color: #fff;
  font-family: raleway;
}

textarea {
  width: 100%;
  max-width: 100%;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  background: transparent;
  outline: none;
  color: #000;
  font-family: raleway;
  font-size: 25px;
  border: solid 1px #eee;
  transition: all 0.9s ease-in-out;
  -webkit-transition: all 0.9s ease-in-out;
  -moz-transition: all 0.9s ease-in-out;
  -ms-transition: all 0.9s ease-in-out;
}

textarea:hover {
  background: #ccc;
  color: #fff;
  font-family: raleway;
}

#submit {
  width: 100%;
  padding: 0;
  font-family: raleway;
  font-size: 20px;
  color: #000;
  outline: none;
  cursor: pointer;
  border: solid 1px #eee;
  border-top: none;
  margin-bottom: -20px;
}

#submit:hover {
  color: #fff;
  background-color: #ccc;
}
