body {
    background: url('https://images.unsplash.com/photo-1428976412003-bcce81775695?fit=crop&fm=jpg&h=700&q=80&w=1225') no-repeat center center;
    background-size: 1400px 700px;
    background-position: 30%;
    background-attachment: fixed;
  }